<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TBCN.Properties.Settings.TBCN" connectionString="server=arlia.computing.dundee.ac.uk;password=ab123c;User Id=12ac3u03;database=12ac3d03;Persist Security Info=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>